In [1]:
from fastai.tabular import *
from exp.utils import *

In [2]:
??return_path_dict

In [3]:
path = return_path_dict('adult', URLs.ADULT_SAMPLE)

/home/ravivijay/.fastai/data/adult_sample
[PosixPath('/home/ravivijay/.fastai/data/adult_sample/export.pkl'), PosixPath('/home/ravivijay/.fastai/data/adult_sample/models'), PosixPath('/home/ravivijay/.fastai/data/adult_sample/adult.csv')]

In [10]:
df = pd.read_csv(path['adult']/'adult.csv'); 
print(df.columns)
df.head()

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [14]:
dep_var = 'salary'
feature_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       ]
cat_names = ['workclass', 'education', 'marital-status',
             'occupation', 'relationship', 'race', 'sex',
             'native-country',
       ]
cont_names = list(set(feature_names) - set(cat_names))

In [15]:
procs = [FillMissing, Categorify, Normalize]

In [19]:

data = (TabularList.from_df(df, path=path['adult'], cat_names=cat_names, cont_names=cont_names, procs=procs)
        .split_by_idx(valid_idx=range(800,1000))
        .label_from_df(cols=dep_var)
        .databunch()
       )

In [20]:
data.show_batch()

In [21]:
learn = tabular_learner(data , layers= [200,100], metrics=accuracy)
learn.fit(5,1e-2)
learn.save('tabular_qs_1')

In [22]:
learn.show_results()